NEXT_PUBLIC_SITE_URL=https://mynameis.life
NEXT_PUBLIC_HOME_MODE=tempmode
NEXT_PUBLIC_SUPABASE_URL=https://amwrvrbbmnqnzbjjemmt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtd3J2cmJibW5xbnpiamplbW10Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzODIwMzIsImV4cCI6MjEwMTk1ODAzMn0.d7L4PHnSBW_taqMbsk8EQnxGd6z6zP57a4-FecddNDo
